SPRING_PROFILES_ACTIVE=local

DB_URL=jdbc:postgresql://localhost:5432/commerce_orchestration
DB_USERNAME=commerce
DB_PASSWORD=commerce

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

JWT_SECRET=commerce-orchestration-demo-secret-key-2026

PAYMENT_PROVIDER_MODE=mock
PAYMENT_PROVIDER_BASE_URL=http://localhost:8089
PAYMENT_PROVIDER_API_KEY=change-me
